<!DOCTYPE html>
<html style="width: 100%; ">

<head>
    <title>Log toi donc melomane</title>
    <meta charset="utf8">
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>
</head>


<body style="background-image: url(https://c.wallhere.com/photos/7f/b2/minimalism-40853.jpg!d); width:90% ">

    <center>
    <div id="form">

        <form method="post" style="position: absolute; margin-top:18%; margin-left:35% ">   
        <fieldset>
        <legend> <h2>Connection</h2> </legend>
        <input type="text" name="email" placeholder= "Email" ><br><br/>
        <input type="password" name ="password" placeholder ="Mot de passe" minlength="3"><br><br/>
        <input type="submit" value="Conexion"><br/><br/>
        <a href="Register"> <input type="button" value=" Inscris toi si ce n'est deja fait!!"> </a>
        </fieldset>
        </form>

    </div>
    <center>
    
</body>

</br>
</br>
</br>
</br>
</br>



<footer style="position: absolute; top:72%; left:33%; color: #fe0002 ">  <h2> Copyright © MesWc JGB.CORP  </h2> </footer>
</html>
