
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf8">
		<link href="${pageContext.request.contextPath} ../style.css" rel="stylesheet" >
		<title>inscription.php</title>
	</head>

	<li><a href="Login"><input type="button" value="Se connecter"></a></li>

	<div>
	<center>

	<body style="background-image: url(https://www.itl.cat/pngfile/big/147-1477962_black-vinyl-record-minimalism-vinyl-hd-wallpaper-circle.jpg); background-size: 100%;">
		<div class="form">
			<form method="post" style="position: absolute; margin-top:1%; margin-left:10%">
				
				<fieldset>
				<legend><h1 style="color: antiquewhite;">Il était temps</h1></legend>
				<input type="text" name="username" placeholder= "Nom d'utilisateur" minlength="3" maxlength="10"><br><br/>
				<input type="text" name="email" placeholder ="Email"><br><br/>
				<input type="password" name ="password" placeholder ="Mot de passe" minlength="3" maxlength="10"><br><br/>
				<input type="password" name="password_confirmation" placeholder="Confirmation de mot de passe" minlength="3" maxlength="10"></br></br>
				<input type="submit"  value="Envoyer"><br/><br/>
				<a href="Login"> <input type="button" value="Tu es déjà inscris? Connecte toi !!"> </a>
				</fieldset>

			</form>

	</div>
	</body>


	</br>
</br>
</br>
</br>
</br>



<footer style="position: absolute; top:90%; left:76%; color:#4a4a4a "> <h2> Copyright © MesWc JGB.CORP </h2></footer>
</center>
</div>


</html>